
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;600;700&display=swap');

body
{
    overflow-x: hidden;
    background-color: #043873;
    background-image: url("/img/fundo1.png");
    margin-left: 0px;
    margin-right: 0px;
}

#logoimg
{   
    top:30px;
    position: absolute;
    width: 37px;
    height: 29px; 
    margin-left: 14%;
    margin-bottom: 10%;
    bottom: 69%;
    left: -6%;
}

#titulopagina
{   
    top:30px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FFFF;
    margin-left: 18%;
    bottom: -10px;
    left: -6%;
}

a
{
    top:5px;
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFF;
    margin-right: 32px;
    text-decoration: none;
    bottom: 40px;
    left: 35%;
}

.nav{
    display: inline;
    text-align: justify;
    margin-left: 100px;
}

#login
{   
    position: relative;
    font-family: 'Inter';
    color: #043873;
    background: #FFE492;
    border-radius: 8px;
    width: 126px;
    height: 60px;
    padding: 16px 40px;
    bottom: 40px;
    left: 35%;
}
#whitespace
{   
    position: relative;
    width: 159px;
    height: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding: 16px 24px;
    gap: 10px;
    width: 227px;
    height: 60px;
    background: #4F9CF9;
    border-radius: 8px;
    left: 35%;
    bottom: 40px;
}

#texto2
{   
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    left: 8%;
    top: 230px;
}
#paragrafo2
{       
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    left: 1%;
    bottom: -80px;
}
#botao{   
    position: absolute;
    padding: 20px;
    gap: 10px;
    width: 250px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 8px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    top: 75%;
    left: 8%;
}

#seta
{
    position: relative;
    top: 20%;
    left: 5%;
}
.pagina2
{   
    position: absolute;
    height: 700px;
    top: 700px;
    background: #FFFFFF;
    padding-bottom: 100px;
    padding-left: 1481px;
}
#pag2texto
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    color: #212529;
    position: absolute;
    top: 900px;
    left: 650px;
    bottom: 300px;
}
#paragrafo2texto
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;


    letter-spacing: -0.02em;

    color: #212529;
    position: absolute;
    top: 1040px;
    left: 660px;
}

#imagempag22
{
    position: absolute;
    left: 100px;
    top: 200px;
}

#botaopagina2
{
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    width: 186px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 6px;

    color: #FFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: none;

    position: absolute;
    top: 1180px;
    left: 655px;


}
.pagina3 {
    position: relative;
    top: 1200px;
}

*{
    margin: 0;
    padding: 0;
    font-family: inter;
}

footer
{
    position:relative;
    top: 190px;
    width: 100%;
    min-height: 50px;
    background: #043873;
    display: flex;
    font-size: 13px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
}

.boxterms
{
    position: relative;
    top:1px;
    left:90px;
    color: #FFFFFF;
}

.boxsecurity
{
    position: relative;
    top:2px;
    left:20px;
    color: #ffffff;
    text-decoration: none;
}


.boxstatus
{
    position: relative;
    top:2px;
    left:-45px;
    color: #ffffff;
    text-align: justify;
}

.box2021{
    position: relative;
    top:2px;
    left:-125px;
    color: #ffffff;
    text-align: justify;
}

.footer
{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #043873;
    padding: 0px 20px;
}

.social
{
    width:120px;
    height:40px;
    margin: 0px;
    border-radius:5px;
    position: relative;
    top: 18px;
    left:320px;
}
.social2{
    width:120px;
    height:40px;
    margin: 0px;
    border-radius:5px;
    position: relative;
    top: 20px;
    left:110px;
}
.social3{
    width:120px;
    height:40px;
    margin: 0px;
    position: relative;
    top: 18.5px;
    left: -100px;
}
